#product-page-container {
    text-align: center;
    display: flex;

    .left-area {
        width: 40%;
    }

    .right-area {
        width: 60%;
        text-align: left;
    }
        
    section.area-image {
        margin: 0 30px;
        img{
            max-height: 100%;
            max-width: 100%;
        }
    }
}